	<!-- slider -->
<div class="flexslider home-slider">
	  <ul class="slides">
	    <li>
	      <img src="img/slides/01.jpg" alt="alt text" />
	      <p class="flex-caption">Placeholder images by thebeaststudio.com </p>
	    </li>
	    <li>
	      <img src="img/slides/02.jpg" alt="alt text" />
	      <p class="flex-caption">Visit luiszuno.com for more freebies!</p>
	    </li>
	    <li>
	      <img src="img/slides/03.jpg" alt="alt text" />
	    </li>
	  </ul>
	</div>
	<div class="shadow-slider"></div>
<!-- ENDS slider -->


<!-- Headline -->
<div class="headline">
	Modus is a FREE HTML 5 Template!
</div>
<!-- ENDS Headline -->



<!-- featured -->
<h1 class="home-block-heading">Features</h1>
<div class="featured">
	<figure>
		<a href="img/dummies/full-1.jpg" data-rel="prettyPhoto" class="thumb"><img src="img/dummies/full-1.jpg" alt="Alt text" /></a>
		<div>
			<a href="single.html" class="heading">Responsive Design</a>
			 It will fit your large desktop screen, all the way down to your iPhone and of  any Tablet or iPad. Try resizng your browser window if you don't believe.
		</div>
		<a class="link" href="single.html"></a>
	</figure>
	
	
	
	<figure>
		<a href="img/dummies/full-2.jpg" data-rel="prettyPhoto" class="thumb"><img src="img/dummies/full-2.jpg" alt="Alt text" /></a>
		<div>
			<a href="single.html" class="heading">Page layouts</a>
			Modus comes with a set of various page layouts to help you build a complete site.
		</div>
		<a class="link" href="single.html"></a>
	</figure>
	
	<figure>
		<a href="img/dummies/full-3.jpg" data-rel="prettyPhoto" class="thumb"><img src="img/dummies/full-3.jpg" alt="Alt text" /></a>
		<div>
			<a href="single.html" class="heading">Contact Form</a>
			Working contact form made in PHP and Ajax, pretty easy to configure. Just enter your subject and email address.
		</div>
		<a class="link" href="single.html"></a>
	</figure>
	
	<figure>
		<a href="img/dummies/full-4.jpg" data-rel="prettyPhoto" class="thumb"><img src="img/dummies/full-4.jpg" alt="Alt text" /></a>
		<div>
			<a href="single.html" class="heading">Portfolio Pages</a>
			Need to showcase your work. No worries use the portfolio template and display your work on a professional way.
		</div>
		<a class="link" href="single.html"></a>
	</figure>
	
	<figure>
		<a href="img/dummies/full-5.jpg" data-rel="prettyPhoto" class="thumb"><img src="img/dummies/full-5.jpg" alt="Alt text" /></a>
		<div>
			<a href="single.html" class="heading">Blog Templates</a>
			Use the blog page templates to create a theme in wordpress, tumblr or a different blog plataform. 
		</div>
		<a class="link" href="single.html"></a>
	</figure>
	
	
	<figure>
		<a href="img/dummies/full-6.jpg" data-rel="prettyPhoto" class="thumb"><img src="img/dummies/full-6.jpg" alt="Alt text" /></a>
		<div>
			<a href="single.html" class="heading">WordPress Version</a>
			I'm working with a talented WordPress Developer to bring a theme out of this template  <a href="http://www.luiszuno.com/blog/work" >stay tuned</a>.
		</div>
		<a class="link" href="single.html"></a>
	</figure>
	
	<div class="clearfix"></div>
		        		
</div>
<!-- ENDS featured -->


<!-- text-posts -->
<h1 class="home-block-heading">From the blog</h1>
<ul class="text-posts">
	<li>
		<a href="single.html" class="heading">Get more freebies!</a>
		visit <a href="http://www.luiszuno.com" >luiszuno.com</a> and get more free items to help you create awesome sites. 
	</li>
	
	<li>
		<a href="single.html" class="heading">Buy Premium themes</a>
		Check my portfolio and buy outstanding WordPress Themes. Visit my <a href="http://www.luiszuno.com/blog/work" >Online Portfolio</a> to learn more.
	</li>
	
	<li>
		<a href="single.html" class="heading">Themeforest Themes</a>
		Visit  <a href="http://themeforest.net/?ref=ansimuz" >themeforest</a> and grab great themes at a great price!
	</li>
	
	<li>
		<a href="single.html" class="heading">Get more freebies!</a>
		visit <a href="http://www.luiszuno.com" >luiszuno.com</a> and get more free items to help you create awesome sites. 
	</li>
	
	<li>
		<a href="single.html" class="heading">Buy Premium themes</a>
		Check my portfolio and buy outstanding WordPress Themes. Visit my <a href="http://www.luiszuno.com/blog/work" >Online Portfolio</a> to learn more.
	</li>
	
	<li>
		<a href="single.html" class="heading">Themeforest Themes</a>
		Visit  <a href="http://themeforest.net/?ref=ansimuz" >themeforest</a> and grab great themes at a great price!
	</li>
	
</ul>
<!-- ENDS text-posts -->


<!-- home-gallery -->
<h1 class="home-block-heading">From the gallery</h1>
<ul class="home-gallery">
	<li><a href="img/dummies/featured-1.jpg" data-rel="prettyPhoto" class="thumb"><img src="img/dummies/featured-1.jpg" alt="Alt text" /></a></li>
	<li><a href="img/dummies/featured-2.jpg" data-rel="prettyPhoto" class="thumb"><img src="img/dummies/featured-2.jpg" alt="Alt text" /></a></li>
	<li><a href="img/dummies/featured-3.jpg" data-rel="prettyPhoto" class="thumb"><img src="img/dummies/featured-3.jpg" alt="Alt text" /></a></li>
		<li><a href="img/dummies/featured-4.jpg" data-rel="prettyPhoto" class="thumb"><img src="img/dummies/featured-4.jpg" alt="Alt text" /></a></li>
		<li><a href="img/dummies/featured-4.jpg" data-rel="prettyPhoto" class="thumb"><img src="img/dummies/featured-5.jpg" alt="Alt text" /></a></li>
		<li><a href="img/dummies/featured-6.jpg" data-rel="prettyPhoto" class="thumb"><img src="img/dummies/featured-6.jpg" alt="Alt text" /></a></li>	        		
</ul>
<div class="clearfix"></div>	
<!-- ENDS home-gallery -->
	
	

